altair==4.2.0
altgraph==0.17.2
asgiref==3.5.2
attrs==22.1.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
blinker==1.5
blis==0.7.8
cachetools==5.2.0
catalogue==2.0.8
certifi==2022.5.18.1
cffi==1.15.1
chardet==5.0.0
charset-normalizer==2.0.12
click==8.1.3
clock==0.1
colorama==0.4.4
commonmark==0.9.1
comtypes==1.1.11
cryptography==37.0.4
cycler==0.11.0
cymem==2.0.6
debugpy==1.6.3
decorator==5.1.1
distlib==0.3.4
dj-database-url==1.0.0
Django==3.2.13
django-heroku==0.3.1
docx2txt==0.8
entrypoints==0.4
filelock==3.7.1
Flask==2.1.2
fonttools==4.36.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.4
importlib-resources==5.9.0
ipykernel==6.15.1
ipython==7.34.0
ipywidgets==8.0.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.13.0
jupyter-client==7.3.4
jupyter-core==4.11.1
jupyterlab-widgets==3.0.2
kiwisolver==1.4.4
langcodes==3.3.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
MouseInfo==0.1.3
murmurhash==1.0.8
nest-asyncio==1.5.5
nltk==3.7
numpy==1.21.6
packaging==21.3
pafy==0.5.5
pandas==1.3.5
parso==0.8.3
pathy==0.6.2
patsy==0.5.2
pdfminer.six==20220524
pdfminer3==2018.12.3.0
pefile==2022.5.30
pickleshare==0.7.5
Pillow==9.1.1
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
playsound==1.2.2
plotly==5.10.0
preshed==3.0.7
prompt-toolkit==3.0.30
protobuf==3.20.1
psutil==5.9.1
psycopg2==2.9.3
pyarrow==9.0.0
PyAudio @ file:///C:/Users/rsp.tech%20Solution/Downloads/PyAudio-0.2.11-cp37-cp37m-win_amd64.whl
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.9.2
pydeck==0.7.1
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.13.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
Pympler==1.0.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.2.0
pyresparser==1.0.6
pyrsistent==0.18.1
PyScreeze==0.1.28
python-dateutil==2.8.2
pyttsx3==2.90
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.3
pywin32==304
pywin32-ctypes==0.2.0
pyzmq==23.2.1
regex==2022.8.17
requests==2.28.0
rich==12.5.1
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
semver==2.13.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.4.1
spacy-legacy==3.0.10
spacy-loggers==1.0.3
SpeechRecognition==3.8.1
sqlparse==0.4.2
srsly==2.4.4
streamlit==1.12.0
streamlit-tags==1.2.8
tenacity==8.0.1
thinc==8.1.0
threadpoolctl==3.1.0
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typer==0.4.2
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
validators==0.20.0
virtualenv==20.14.1
wasabi==0.10.1
watchdog==2.1.9
wcwidth==0.2.5
Werkzeug==2.1.2
whitenoise==6.2.0
widgetsnbextension==4.0.2
wikipedia==1.4.0
zipp==3.8.0
